.footer__container {
  margin: auto;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0 1.6px 1.6px -22px rgba(0, 0, 0, 0.042),
    0 3.4px 3.4px -22px rgba(0, 0, 0, 0.062),
    0 5.8px 5.8px -22px rgba(0, 0, 0, 0.077),
    0 8.7px 8.7px -22px rgba(0, 0, 0, 0.089),
    0 12.5px 12.5px -22px rgba(0, 0, 0, 0.1),
    0 17.7px 17.7px -22px rgba(0, 0, 0, 0.111),
    0 25.1px 25.1px -22px rgba(0, 0, 0, 0.123),
    0 36.5px 36.5px -22px rgba(0, 0, 0, 0.138),
    0 56.3px 56.3px -22px rgba(0, 0, 0, 0.158),
    0 100px 100px -22px rgba(0, 0, 0, 0.2);
}
.footer__container > * {
  color: var(--light-color);
}
